*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
*.bat
/update.bat
./update.bat
./update.bat
build.bradle
.build.bradle
/.build.bradle
.gradle.properties
/.gradle.properties
c:\Users\sont1\Desktop\Sending-and-Receiving-Data-with-Bluetooth-master\getlocation\app\src\main\res\values\secrets_apikeys.xml
/secrets_apikeys.xml
./secrets_apikeys.xml
secrets_apikeys.xml
**/*/res/values/secrets_apikeys.xml